section {
  &.pricing-section {
    width: 100%;
    height: 100vh;
    .pricing {
      display: flex;
      flex-direction: column;
      height: 100%;
      row-gap: 36px;
      width: 100%;
      &-header {
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        box-shadow: $primary-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 5px;
        row-gap: 12px;
        width: 60%;
        p {
          font-weight: 300;
        }
        h3 {
          -moz-column-gap: 20px;
          align-items: center;
          column-gap: 20px;
          display: flex;
          font-weight: 500;
        }
      }
    }
  }
}

.pricing-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  row-gap: 25px;
  &-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;

    h2 {
      font-weight: 500;
    }

    .pricing-checkbox {
      -moz-column-gap: 10px;
      align-items: center;
      column-gap: 10px;
      display: flex;
      span {
        font-size: 14px;
        color: $primary-ligth-dark;
      }
      & > div {
        background: $primary-dark-b;
        border-radius: 15px;
        height: 24px;
        position: relative;
        width: 45px;
        cursor: pointer;
        div {
          background-color: $primary-ligth;
          border-radius: 50%;
          height: 18px;
          left: 3px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
        }
        &.anually {
          div {
            left: unset;
            right: 3px;
          }
        }
      }
    }
  }

  &-plans {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;

    .card {
      display: grid;
      padding: 25px;
      position: relative;
      width: 250px;
      &-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        .card-title {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
        .card-price {
          font-weight: 400;
          font-size: 26px;
        }
      }

      &-body {
        margin-top: 30px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          li {
            align-self: center;
            display: flex;
            font-size: 16px;
            justify-content: space-between;
            list-style: none;
            position: relative;
            text-align: center;
          }
        }
      }

      &-footer {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 35px;
        button {
          padding: 7px 0px;
          width: 100%;
          cursor: pointer;
          &:hover {
            transition: 0.3s all;
          }
        }
      }
    }
  }
}

@include responde(big-phone) {
  section.pricing-section {
    height: auto;
    width: 100%;

    .pricing {
      &-header {
        width: 100%;
      }
    }
  }
}
