.membership__btn {
  display: flex;
  padding: 10px;
  -moz-column-gap: 10px;
  column-gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 24px;
  margin-bottom: 27px;
  &-style {
    column-gap: 10px;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}