.membership__btn {
  display: flex;
  padding: 10px;
  -moz-column-gap: 10px;
  column-gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 24px;
  margin-bottom: 27px;
  &-style {
    column-gap: 10px;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}
.membership__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  &-card {
    display: flex;
    justify-content: space-between;
    box-shadow: $primary-shadow;
    width: 49.5%;
    border-radius: 5px;
  }
  &-cont ul,
  &-action {
    padding: 20px;
    display: grid;
    row-gap: 5px;
    font-size: 1rem;
    align-content: end;
  }
  &-action li button {
    width: -webkit-fill-available;
  }
  &-cont ul li {
    display: flex;
    column-gap: 5px;
  }
  &-cont ul li span:nth-child(1) {
    font-weight: 800;
  }
  &-cont ul li span:nth-child(2) {
    word-break: break-all;
  }
}
