* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
.box-shadow {
  border-radius: 10px;
  box-shadow: $primary-shadow;
}

.bg--light {
  background-color: $primary-ligth;
  color: $primary-dark-b;
}

.bg--dark {
  background-color: $primary-dark;
  color: $primary-ligth;
}

.text-light {
  color: $primary-dark-b !important;
  text-decoration: none;
}
.text-dark {
  color: $primary-ligth;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="datetime-local"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: $primary-ligth-dark;
  box-shadow: $primary-shadow-ligth;
}
